.header, .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__section, .list-item, .task__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #add8e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.flux {
  margin: 0 10%;
}

@media screen and (min-width: 800px) {
  .flux {
    margin: 0 20%;
  }
}

@media screen and (min-width: 1000px) {
  .flux {
    margin: 0 5%;
  }
}

@media screen and (min-width: 1400px) {
  .flux {
    margin: 0 20%;
  }
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 2rem;
}

.header__title {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 8vh;
}

.header__introduction {
  font-size: 1rem;
  text-align: justify;
}

main {
  height: 100%;
}

.input__section {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .input__section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input__section-field {
  padding: 0 5px;
  min-height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 500px;
}

.input__section-addButton {
  padding: 0 5px;
  min-height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 2px #2eca2e;
  max-width: 100px;
  cursor: pointer;
  background: lightgreen;
  font-weight: 600;
}

.input__section-addButton:hover {
  background: #2eca2e;
  border: solid 2px lightgreen;
  color: white;
}

.add-outline {
  width: 40px;
  height: 40px;
  color: #004d00;
}

.add-outline:hover {
  color: white;
}

.list__section {
  margin: 1rem 0;
  padding: 2px 0;
  background: #d4ebf2;
  border-radius: 5px;
}

@media screen and (min-width: 425px) {
  .list__section {
    height: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .list__section {
    width: 32%;
  }
}

.list__container-title {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.list-item {
  padding: 0 5px;
  min-height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #add8e6;
  cursor: pointer;
}

.task__section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .task__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ui-state-active {
  height: 250px;
  width: 300px;
}

.ui-state-highlight {
  height: 250px;
  width: 300px;
}

.footer {
  margin-bottom: 0.8rem;
}

.footer_nav {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.footer_nav-item > a {
  cursor: pointer;
  color: black;
}

.footer_nav-item > a:hover {
  color: indigo;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.removeButton,
.checkButton {
  border: none;
  font-weight: 800;
  padding: 0;
  background: none;
  cursor: pointer;
}

.removeButton {
  color: red;
}

.checkButton {
  color: green;
}

.trash-outline,
.checkmark-outline {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=style.css.map */